@model List<ENTITY.Concrete.Product>

@foreach (var item in Model)
{
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="product__item">
            <div class="product__item__pic set-bg" data-setbg="@item.Image">
                @if (item.Id <= 0)
                {
                    <div class="label stockout">out of stock</div>
                }
                <ul class="product__hover">
                    <li><a href="@item.Image" class="image-popup"><span class="arrow_expand"></span></a></li>
                    <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                    <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                </ul>
            </div>
            <div class="product__item__text">
                <h6><a href="#">@item.Title</a></h6>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <div class="product__price">$ @item.Price</div>
            </div>
        </div>
    </div>
}
